<!doctype html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>제 7 장 예제(.hbs 뷰)</title>
  </head>
  <body>
    <p><i>Technical note: using .hbs extension for views.</i></p>
    {{{body}}}
  </body>
</html>