{{#section 'head'}}
	<!-- we want Google to ignore this page -->
	<meta name="robots" content="noindex">
{{/section}}

<h1>Section Test Page</h1>
<p>We're testing some script stuff.</p>
<p>20151526 김종민</p>

{{#section 'scripts'}}
	<script>
    document.querySelector('body')
      .insertAdjacentHTML('beforeEnd', '<small>(scripting works!)</small>')
	</script>
{{/section}}